* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #faf7ed;
}
/* ====================================
헤더
======================================= */
header {
  background-color: #ffeaeb;
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  margin-bottom: 0px;
  position: sticky;
  top: 15px;
  z-index: 100;
}

.logo img {
  width: 60px;
  height: auto;
  margin-left: 15px;
}

.login img {
  width: 20px;
  height: auto;
  margin: 0 8px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.login p {
  margin: 0; /* p의 기본 여백 제거 */
}

.nav a {
  text-decoration: none;
  color: black;
  margin: 0 12px;
}

/* ============================
메인
=============================== */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-size: 70px;
  font-weight: bolder;
  margin-top: 40px;
}

.main-image {
  border: 1px solid black;
  border-radius: 24px;
  position: relative;
}
/* =========================================
메인 - 슬로건
============================================ */
section.slogan {
  border: 1px solid black;
  border-radius: 24px;
  background-color: #ffeaeb;
  padding: 30px 50px;
  position: absolute;
  top: 950px;
}

.slogan-title {
  text-align: center;
  margin-top: 0;
}

.slogan-text {
  text-align: center;
}

.slogan-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogan-button span {
  display: inline-block;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 24px;
  padding: 12px 34px;
}

/* =============================================
Resume
================================================ */
.resume {
  background: #faf7ed;
  padding: 60px;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 150px auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.resume-subtitle h2 {
  font-size: 24px;
}

.entry-content {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  margin-bottom: 60px;
}

/* 전체를 좌우 2단으로 배치 */
.section {
  display: flex;
  gap: 40px;
}

.section-title {
  font-size: 22px;
  flex: 0 0 150px; /* 왼쪽 제목 영역 너비 고정 */
}

.entries {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* 각 경력 항목: 연도 + 내용 좌우 배치 */
.entry {
  display: flex;
  gap: 20px;
}

.year {
  flex: 0 0 120px; /* 연도 영역 너비 고정 */
  font-size: 14px;
  color: #333;
}

.entry-content h3 {
  margin: 0 0 8px 0;
  font-size: 16px;
}

.entry-content p {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  color: #444;
}

/* ========================================
My Brand
=========================================== */
.mybrand {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin: 0 auto;
}

.mybrand-content {
  max-width: 800px;
  margin: 20px auto 0;
}

.mybrand-content .card {
  margin-bottom: 10px;
}

.btn {
  background-color: #ffeaeb;
  border: 1px solid black;
  color: black;
}

.btn:hover {
  background-color: #f07979;
}

/* =================================================
ability
===================================================== */

/* 전체 Ability 영역 */
.ability-wrapper {
  background: linear-gradient(to bottom, #c9e0fe, #faf7ee);
  width: 100%; /* 화면 전체 너비 */
}

.ability {
  max-width: 1200px;
  margin: 150px auto;
  margin-top: 150px;
  padding: 0px 60px;
}

/* Ability 제목 */
.ability h1 {
  margin-bottom: 80px;
  padding-top: 150px;
}

/* Ability 하나 */
.ability-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 30px;
}

/* 왼쪽 글 */
.ability-text {
  width: 40%;
}

/* 제목 */
.ability-text h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
}

/* 설명 */
.ability-text p {
  margin: 0;
  line-height: 1.6;
  font-size: 13px;
}

/* 오른쪽 이미지 */
.ability-item img {
  width: 45%;
  height: 248px;
  object-fit: cover;
}

/* =================================================
contact me
===================================================== */
/* 전체 Contact 영역 */
.contact {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  padding: 20px;
}

/* 왼쪽 사진 */
.contact-image {
  width: 50%;
  height: 520px;
}

.contact-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border: 1px solid black;
  border-radius: 22px;
}

/* 오른쪽 박스 */
.contact-box {
  width: 50%;
  height: 720px;

  background-color: #ffe9e9;

  border: 1px solid black;
  border-radius: 22px;

  padding: 90px 105px;
}

/* 제목 */
.contact-box h1 {
  text-align: center;
  margin-bottom: 25px;
}

/* 설명 */
.contact-box > p {
  text-align: center;
  font-size: 13px;
  line-height: 1.5;

  margin-bottom: 25px;
}

/* form */
.contact-box form {
  display: flex;
  flex-direction: column;
}

/* label */
.contact-box label {
  font-size: 13px;
  margin-bottom: 6px;
}

/* input */
.contact-box input,
.contact-box textarea {
  width: 100%;

  padding: 8px 10px;

  border: 1px solid #555;
  border-radius: 20px;

  margin-bottom: 20px;

  box-sizing: border-box;
}

/* 메시지 */
.contact-box textarea {
  height: 150px;
  resize: none;
  border-radius: 12px;
}

/* 버튼 */
.contact-box button {
  width: 100%;
  height: 40px;

  background-color: #2d2927;
  color: white;

  border: none;
  border-radius: 20px;

  cursor: pointer;
}

/* =================================================
footer
===================================================== */
footer {
  background-color: #ffe9e9;
  padding: 0px;
}

footer hr {
  border: none;
  border-top: 1px solid #222;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 400px;
  padding-top: 15px;
  padding-bottom: 12px;
  font-size: 13px;
}

.footer-center {
  text-align: center;
}

.footer-right {
  text-align: right;
}

.footer-right a {
  margin-left: 15px;
  color: black;
  text-decoration: none;
}
